<html>

<head>
  <meta charset="utf-8">
  <title>Dynamic Image Viewer</title>
  <link rel="stylesheet" href="bundle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script type="text/javascript">
/*
    $(document).ready(function(){
      $("#generate").click(function(){
        email = document.getElementById("email").value
        console.log(email)
        var emailCode = document.getElementById('html').value
        document.getElementById('preview').innerHTML = emailCode
        $("body").children().each(function() {
          $(this).html($(this).html().replace(/{{email}}/g, email))
        })
      })
    })
*/

    $(document).keyup(function(event){
      if(event.keyCode == 13 && !$('#html').is(':focus')) {
        fred()
      }
    });

    function shiftDown() {
      $('html,body').animate(
          {scrollTop: $('#html').offset().top-60},
          'slow');
    }

    function highlight() {
      $('#emaillabel').css('color', 'rgb(0, 188, 212)')
//      $('#emailhr1').css('border-top', 'none rgb(0, 188, 212)')
      $('#emailhr1').css('visibility', 'hidden')
      $('#emailhr2').css('visibility', 'visible')
    }

    function unhighlight() {
      $('#emaillabel').css('color', 'rgba(0, 0, 0, 0.298039)')
      $('#emailhr1').css('visibility', 'visible')
      $('#emailhr2').css('visibility', 'hidden')
    }

    function fred() {
      console.log('dur')
        email = document.getElementById("email").value
        console.log(email)
        var emailCode = document.getElementById('html').value
        document.getElementById('preview').innerHTML = emailCode
        $("body").children().each(function() {
          $(this).html($(this).html().replace(/{{email}}/g, email))
        })
        document.getElementById('html').value = emailCode
        document.getElementById('email').value = email
        $('html,body').animate(
          {scrollTop: $('#settings').offset().top-20},
          'slow');
    }
    </script>
</head>

<body>
  <div id="root">
    <div data-reactroot="" class="u-flex u-flexCol" style="height: 100%;">
      <div class="Header">
        <a href="http://boomtrain.com/" style="width: 60px; position: absolute; top: 20px; left: 20px;">
          <svg viewBox="0 0 164.4 87.9">
            <path fill="#E8F0F2" d="M120.4 0c-16.2 0-30.4 8.8-38 21.9C80 26 74.5 35.2 61.2 35.2c-13.2 0-17.9-6.5-20.5-9-4.3-4-10.1-6.4-16.4-6.4C10.9 19.7 0 30.6 0 44c0 13.4 10.9 24.2 24.2 24.2 6.4 0 12.1-2.4 16.5-6.4 2.7-2.5 7.3-9 20.5-9S80.1 62 82.4 66c7.6 13.1 21.8 21.9 38 21.9 24.3 0 44-19.7 44-44 0-24.2-19.7-43.9-44-43.9zM24.2 58.9c-8.3 0-15-6.7-15-15s6.7-15 15-15 15 6.7 15 15-6.7 15-15 15zm96.2 20c-19.3 0-34.9-15.6-34.9-34.9s15.6-35 34.9-35 34.9 15.6 34.9 34.9-15.6 35-34.9 35z"></path>
            <path fill="#E8F0F2" d="M130.1 59.5H129c-1.1 0-2-.9-2-2v-33c0-1.1.9-2 2-2h1.1c1.1 0 2 .9 2 2v33c0 1.1-.9 2-2 2zM139 59.5h-1.1c-1.1 0-2-.9-2-2v-11c0-1.1.9-2 2-2h1.1c1.1 0 2 .9 2 2v11c0 1.1-.9 2-2 2zM121.1 59.5H120c-1.1 0-2-.9-2-2v-22c0-1.1.9-2 2-2h1.1c1.1 0 2 .9 2 2v22c0 1.1-.9 2-2 2zM112.2 59.5h-1.1c-1.1 0-2-.9-2-2v-11c0-1.1.9-2 2-2h1.1c1.1 0 2 .9 2 2v11c0 1.1-.9 2-2 2zM103.2 59.5h-1.1c-1.1 0-2-.9-2-2v-11c0-1.1.9-2 2-2h1.1c1.1 0 2 .9 2 2v11c0 1.1-.9 2-2 2z"></path>
          </svg>
        </a>
        <div style="margin: 60px auto;">
          <h1 class="title color-on-dark">Dynamic Image Viewer</h1>
          <h2 class="headline color-on-dark">Enter HTML and an email to preview</h2>
        </div>
      </div>
      <div class="Section u-sizeFill">
        <div class="Section-content Grid Grid--withGutter">
          <div class="Grid-cell u-md-sizeFull u-sm-sizeFull">
            <h2 class="subtitle">HTML</h2>
            <div class="Layout" style="color: rgba(0, 0, 0, 0.870588); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-radius: 2px; background-color: rgb(255, 255, 255);">
              <div class="Paper-section">
                <div class="ReactCodeMirror">
                  <textarea onFocus="shiftDown()" id="html" autocomplete="off" style="border: none; width: 100%; height: 400px; resize: none;"></textarea>
                </div>
              </div>
<!--
              <div class="Paper-section">
                <div>
                  <div style="color: rgba(0, 0, 0, 0.870588); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-radius: 2px; display: inline-block; background-color: rgb(255, 255, 255);">
                    <button tabindex="0" type="button" style="border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none; outline: none; font-size: inherit; font-weight: inherit; transform: translate3d(0px, 0px, 0px); position: relative; min-width: 88px; height: 36px; line-height: 36px; width: 100%; padding: 0px; border-radius: 2px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; text-align: center; background-color: rgb(0, 188, 212);">
                      <div>
                        <div onclick="fred();" id="generate" style="height: 36px; border-radius: 2px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; top: 0px;"><span style="position: relative; opacity: 1; font-size: 14px; letter-spacing: 0px; text-transform: uppercase; font-weight: 500; margin: 0px; padding-left: 16px; padding-right: 16px; color: rgb(255, 255, 255); -webkit-user-select: none;">Preview</span>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
-->
            </div>
          </div>
          <div class="Grid-cell u-md-sizeFull u-sm-sizeFull">
            <h2 id="settings" class="subtitle">Settings</h2>
            <div class="Settings">
              <div style="font-size: 16px; line-height: 24px; width: 100%; height: 72px; display: inline-block; position: relative; font-family: Roboto, sans-serif; transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; background-color: transparent;">
                <label id="emaillabel" for="undefined-undefined-SiteID-62863" style="position: absolute; line-height: 22px; top: 38px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; z-index: 1; cursor: text; transform: perspective(1px) scale(0.75) translate3d(0px, -28px, 0px); transform-origin: left top 0px; pointer-events: none; color: rgba(0, 0, 0, 0.298039); -webkit-user-select: none;">Email</label>
                <input value="alfred@boomtrain.com" type="text" id="email" onfocus="highlight()" onblur="unhighlight()" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; position: relative; width: 100%; height: 100%; border: none; outline: none; color: rgba(0, 0, 0, 0.870588); font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; box-sizing: border-box; margin-top: 14px; background-color: rgba(0, 0, 0, 0);">
                <div>
                  <hr id="emailhr1" style="border-top: none rgb(224, 224, 224); border-right: none rgb(224, 224, 224); border-bottom: 1px solid rgb(224, 224, 224); border-left: none rgb(224, 224, 224); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%;">
<hr id="emailhr2" style="border-top: none rgb(0, 188, 212); border-right: none rgb(0, 188, 212); border-bottom: 1px solid rgb(0, 188, 212); border-left: none rgb(0, 188, 212); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; visibility: hidden;">
<!--
                  <hr id="emailhr2" style="border-top: none rgb(0, 188, 212); border-right: none rgb(0, 188, 212); border-bottom: 2px solid rgb(0, 188, 212); border-left: none rgb(0, 188, 212); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; transform: scaleX(0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;">
-->
                </div>
              </div>
            </div>
          </div>

              <div class="Paper-section">
                <div>
                  <div style="color: rgba(0, 0, 0, 0.870588); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-radius: 2px; display: inline-block; background-color: rgb(255, 255, 255);">
                    <button tabindex="0" type="button" style="border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none; outline: none; font-size: inherit; font-weight: inherit; transform: translate3d(0px, 0px, 0px); position: relative; min-width: 88px; height: 36px; line-height: 36px; width: 100%; padding: 0px; border-radius: 2px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; text-align: center; background-color: rgb(0, 188, 212);">
                      <div>
                        <div onclick="fred();" id="generate" style="height: 36px; border-radius: 2px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; top: 0px;"><span style="position: relative; opacity: 1; font-size: 14px; letter-spacing: 0px; text-transform: uppercase; font-weight: 500; margin: 0px; padding-left: 16px; padding-right: 16px; color: rgb(255, 255, 255); -webkit-user-select: none;">Preview</span>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>

        </div>
<div id="preview" class="Preview"></div>
      </div>
    </div>
  </div>
  <style>
    button::-moz-focus-inner,
    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  </style>

</body>

</html>
